﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="cadastro.aspx.cs" Inherits="Index_cadastro" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CEEM - Consumo de energia elétrica monitorado</title>
    <!-- core CSS -->
    <!--<link href="css/bootstrap_for_index.min.css" rel="stylesheet">-->
    <!--<link href="css/font-awesome.min.css" rel="stylesheet">-->
    <!--<link href="css/animate_for_index.min.css" rel="stylesheet">-->
    <!--<link href="css/main_for_index.css" rel="stylesheet">-->
    <link href="css/style_for_index.css" rel="stylesheet" />
    <!--<link href="css/responsive_for_index.css" rel="stylesheet">-->
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->

</head>
<body>

    <form id="form1" runat="server">

        <div id="background" class="container">
            <div class="row main">
                <div class="panel-container">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <a class="no-text-decoration" href="index.html">
                                <img src="images/Logo_vFinal_v2.png" width="250" height="80" /></a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-sm-8 col-sm-offset-2">
                            <!--      Wizard container        -->
                            <div class="wizard-container">
                                <div class="card wizard-card" data-color="red" id="wizard">
                                    
                                        <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                                        <div class="wizard-header">
                                            <h3 class="wizard-title">Pré-Cadastro
                                        </h3>
                                            <h5>Estas informações nos informará sobre você.</h5>
                                        </div>
                                        <div class="wizard-navigation">
                                            <ul class="nav nav-pills">
                                                <li class="active" style="width: 33.3333%;"><a href="#pessoais" data-toggle="tab" aria-expanded="true">Dados Pessoais</a></li>
                                                <li style="width: 33.3333%;"><a href="#contato" data-toggle="tab">Contato</a></li>
                                                <li style="width: 33.3333%;"><a href="#endereco" data-toggle="tab">Endereço</a></li>
                                                <li style="width: 33.3333%;"><a href="#pagamento" data-toggle="tab">Pagamento</a></li>
                                            </ul>
                                        </div>

                                        <div class="tab-content">
                                            <!--Passo 1-->
                                            <div class="tab-pane active" id="pessoais">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <div id="tipo-pessoa" class="radio">
                                                                <label>
                                                                    <input id="fisica" type="radio" name="optradio" value="F" checked>Pessoa Física</label>
                                                                <label>
                                                                    <input id="juridica" type="radio" name="optradio" value="J">Pessoa Jurídica</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">face</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label id="nome-pessoas" class="control-label">Nome Completo</label>
                                                                <input name="firstname" type="text" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">assignment</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label id="CPF-CNPJ" class="control-label">CPF</label>
                                                                <input name="cpf" type="number" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div id="data-nascimento" class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Data de nascimento</label>
                                                                <input name="date" type="text" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div id="nome-fantasia" class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">face</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label id="nomefantasia" class="control-label">Nome Fantasia</label>
                                                                <input name="firstname" type="text" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <a class="col-lg-12">
                                                        <hr />
                                                    </a>

                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">face</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Nome de usuário</label>
                                                                <input name="firstname" type="text" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">lock</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Senha</label>
                                                                <input name="password" type="password" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">lock</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Repita a senha</label>
                                                                <input name="password" type="password" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--Passo2-->
                                            <div class="tab-pane" id="contato">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">email</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Email</label>
                                                                <input name="email" type="email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-phone-alt"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Telefone Fixo</label>
                                                                <input name="email" type="tel" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-phone"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Telefone Celular</label>
                                                                <input name="email" type="email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-earphone"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Telefone Comercial</label>
                                                                <input name="email" type="email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-earphone"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Telefone Recado</label>
                                                                <input name="email" type="email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Passo3-->
                                            <div class="tab-pane" id="endereco">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-road"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">CEP</label>
                                                                <input name="email" type="number" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">home</i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Logradouro</label>
                                                                <input name="email" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Número</label>
                                                                <input name="email" type="number" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Complemento</label>
                                                                <input name="email" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Bairro</label>
                                                                <input name="email" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Cidade</label>
                                                                <input name="email" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                            </span>
                                                            <div class="form-group label-floating is-empty">
                                                                <label class="control-label">Estado</label>
                                                                <input name="email" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--Passo 4-->
                                            <div class="tab-pane" id="pagamento">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label id="nome-pessoas" class="control-label">
                                                            <strong>
                                                                <h3>Dia do pagamento mensal da fatura</h3>
                                                            </strong>
                                                        </label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"></span>
                                                            <div class="form-group label-floating is-empty">
                                                                <input name="firstname" type="date" class="form-control">
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wizard-footer">
                                            <div class="pull-right">
                                                <input type="button" class="btn btn-next btn-fill btn-danger btn-wd" name="next" value="Próximo">
                                                <a href="login.html">
                                                    <input type="button" class="btn btn-finish btn-fill btn-danger btn-wd" name="finish" value="Concluir" style="display: none;"></a>
                                            </div>
                                            <div class="pull-left">
                                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="Previous" value="Voltar">
                                                <div class="footer-checkbox" style="opacity: 1; visibility: visible;">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                  
                                </div>
                            </div>
                            <!-- wizard container -->
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <p></p>
                        <p>©2017 Todos os direitos reservados</p>
                    </div>
                </div>
            </div>
        </div>
        <!--   Core JS Files   -->
        <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>
        <!--  Plugin for the Wizard -->
        <script src="assets/js/material-bootstrap-wizard.js"></script>
        <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
        <script src="assets/js/jquery.validate.min.js"></script>
        <script>
            $('#nome-fantasia').hide();
            $('#tipo-pessoa').click(function () {
                if ($('#juridica').is(':checked')) {
                    $('#nome-pessoas').html('Razão social');
                    $('#CPF-CNPJ').html('CNPJ');
                    $('#data-nascimento').hide();
                    $('#nome-fantasia').show();
                }
                if ($('#fisica').is(':checked')) {
                    $('#nome-pessoas').html('Nome');
                    $('#CPF-CNPJ').html('CPF');
                    $('#data-nascimento').show();
                    $('#nome-fantasia').hide();


                }
            });



    </script>

        <div>
        </div>
    </form>

</body>
</html>
