@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #388e3c    ;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover,
a:focus {
  color: #388e3c;
  text-decoration: underline;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  padding: 8px 20px;
  background: #388e3c   ;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus {
  background: #388e3c;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media > .pull-left{
  margin-right: 20px;
}

.media > .pull-right{
  margin-left: 20px;
}

body > section {
  padding: 50px 0;
}

.center {
  text-align: center;
  padding-bottom: 20px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar>.container .navbar-brand {
  margin-left: 0;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar-header > .navbar-brand img {
  width: 170px;
    height: 59px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding-top: 5px;
  padding-bottom: 0;
}

 .navbar-nav {
  margin-top: 1.8em;
 }

.navbar-nav>li{
  margin-left: 15px;
  padding-bottom: 12px;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
}

.importantBtn {
    margin-top: 1em;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #388e3c;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a#important {
    padding: 12px 28px 12px 28px;
}

.navbar-inverse {
  border: none;
  background-color: rgba(80, 80, 80, 0.87);
}

.navbar-inverse .navbar-brand {
    padding: 10px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #388e3c ;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: rgba(47, 47, 47, 0.5);
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a#important:hover {
    background-color: hsla(123, 43%, 39%, 0.79);
}

#header .container {
    font-size: 1.1em;
}

/*************************
*******Home Page******
**************************/
.no-margin {
  margin: 0;
  padding: 0;
}

/*
section#video-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-background {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.foreground-content {
    position: relative;
    z-index: 2;
}
*/

.centralizar {
    text-align: center;
}

.centralizar > p {
    margin-top: 15px;
    padding: 0 10%;
}

#services {
  background: #000 url(../images/services/bg_services.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#services h2{
  color: #fff;
}

.lead {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #d4d4d4;
}

#services .foreground-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#services .foreground-content > h1 {
/*    font-weight: bold;*/
    font-size: 40px;
    color: #fff;
}

.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#contact-info{
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}

div.contact-info > div > h2 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

div.contact-info > div > p {
    font-size: 1.2em;
}

.btn-cadastro {
    padding: 12px 28px 12px 28px;
    margin-top: 40px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    background: #388e3c;
    
    transition: color 300ms, background-color 300ms;
    transition-property: color, background-color;
    transition-duration: 300ms, 300ms;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
}

.btn-cadastro:hover {
  background: rgba(56, 142, 60, 0.76);
  color: white;
}

.btn-pre-cadastrar {
  background: #F15A22;
}

.btn-pre-cadastrar:hover,
.btn-pre-cadastrar:focus {
  background: #E44409;
}

#assinante {
    background: rgba(134, 133, 133, 0.62);
}

#assinante h2 {
    color: white;
}

#assinante p {
    width: 100%;
    text-align: justify;
}

#identificao p {
    
}

/*
#hardware:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1999;

    display: block;
    background-image: url("../images/hardware.png");
    width: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
*/

section {
    line-height: 2;
}

#hardware {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../images/hardware.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

#hardware h2 {
    color: white;
}

#hardware p {
    font-weight: 600;
    color: #f4f4f4;
}

#sobre-sistema {
    
}

.trash-history {
    text-decoration: line-through;
}

#assinante div {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#assinante,
#assinante p {
    text-align: center;
}

#assinante .row {
    margin-left: 0;
    margin-right: 0;
}

#sacada-genial img {
    width: 100%;
    height: auto;
}

#quem-somos img {
    width: 65%;
    height: auto;    
}

#sacada-genial,
#quem-somos {
    position: relative;
    overflow: auto;
}

/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #388e3c;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
}

div#contato {
    font-weight: bold;
    font-size: 16px;
}

div#contato > div {
    margin-top: 25px;
}

span.social {
    font-size: 25px;
    padding: 10px;
}

.pipe-separated-list-container {
  overflow-x: hidden;
  margin-top: 25px;
}

.pipe-separated-list-container ul {
  list-style-type: none;
  position: relative;
  left: -1px;
  padding: 0;
}

.pipe-separated-list-container ul li {
  display: inline-block;
  line-height: 1;
  padding: 0 1em;
  margin-bottom: 1em;
  border-left: 1px solid;
}

.pipe-separated-list-container ul > :first-child {
    border-left: none;
}

.animated-items {
    -webkit-animation: fadeInDown 300ms linear 300ms both;
    -moz-animation: fadeInDown 300ms linear 300ms both;
    -o-animation: fadeInDown 300ms linear 300ms both;
    -ms-animation: fadeInDown 300ms linear 300ms both;
    animation: fadeInDown 300ms linear 300ms both;
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-delay: 300ms;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-name: fadeInDown;
}

.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    -moz-animation: fadeInUp 300ms linear 300ms both;
    -o-animation: fadeInUp 300ms linear 300ms both;
    -ms-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-delay: 300ms;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-name: fadeInUp;
}

.more {
    display: none;
}

.morelink {
    font-weight: bold;
}

.form-control:focus {
  border-color: rgb(56, 142, 60);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(56, 142, 60, 0.6);
}

.no-text-decoration,
.no-text-decoration:hover,
.no-text-decoration:focus {
  text-decoration: none;
  color: transparent;
  background-color: transparent;
  border: none;
}