﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/entidade/MasterPageEntidade.master" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="pages_entidade_Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

