﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/comum/MasterPageComum.master" AutoEventWireup="true" CodeFile="Relatorios.aspx.cs" Inherits="pages_comum_Relatorios" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


</asp:Content>

